transportedImg/*
transported/*
flaskenv/
.env
**/__pycache__/
quote/__pycache__/quote_api.cpython-310.pyc
*.stp
*.stl
uploads/
extracted/
migrations/*
*.pyc
*.__pycache__
quote/__pycache__/quote_api.cpython-310.pyc
*.pyc
